@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card-white.css");


/* General style rules for fonts and colours */
body {
	background-color: #FFEFD9;
	color: #876445;
	font-family: Lato, sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1 {
	font-family: Cookie, sans-serif;
	font-weight: italic;
	text-align: center;
	font-size: 96px;
} 

h2 {
	font-family: Lato, sans-serif;
	font-size: 18px;
	text-align: justify;
}

h3 {
	font-family: Cookie, sans-serif;
	font-weight: bold;
	font-size: 42px;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
	color: darkred;
}

a:hover {
	color: #F4DFBA;
}

/* Custom design with class (99% of your design) */
.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: #CA965C;
}

.list-inline i:hover {
	font-size: 50px;
	color: #F4DFBA;
}